/*GURPREET SINGH C0748166*/
body {
	background-color:  #c2f0f0 ;
}

.logo {
	max-width:80%;
}

/* Style for the container centers the page and specifies the width */
#container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header specifies top margin, background color, rounded corners, and center align content */
header {
	font-family: Verdana, Arial, serif;
	font-size: 2em;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
	text-align: center;
	padding: 0.2em;
	color: #000000;
}
#banner {
	display:none;
}
/* Style for nav specifies text properties */
nav {
	font-family: Lucida, "Times New Roman", serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

/* style specifies padding and margins for unordered list*/
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color: #303030;
	list-style-type: none;
	margin: 0.4em;
	padding: 0.5em;
}

/* Style changes navigation link text color to white and removes the underline */
nav li a {
	color: #FFFFFF;
	text-decoration: none;
}
.dropbtn {
    background-color:#303030;
    color: white;
    font-style:bold;
    border: none;
    font-family: Lucida, "Times New Roman", serif;
    font-size: 1.0em;
    font-weight: bold;
    text-align: center;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#303030;
    min-width: 160px;
  
  }
  
  .dropdown-content a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1em;
    display: block;
  }
  
  .dropdown-content a:hover {color:#004d4d ;
  background-color:#303030;}
  
  .dropdown:hover .dropdown-content {display: block;}
  

/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
article {
	display: block;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 0.5em;
	border-radius: 1em;
	background-color: #FFFFFF;
}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}

footer a{
    color:black;
}
/* Styles for Mobile Layout */
.mobile{
	display: inline;
}

/* style hides the desktop class */
.desktop {
    display:none;
}

/* Media query for tablet viewport */

@media only screen and (min-width: 660px) {
    .logo {
        width:80%;
    }

    nav li {
        display: inline;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        padding-left: 0;
        padding-right: 0;
        width: 14.6%;
        white-space: nowrap;
 }
    article{
        clear: left;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: inline;
    }
}

/* Media query for desktop viewport */

@media only screen and (min-width: 830px) {

/* Style for the container */
#container {
    width:80%;
}

/* Style for image */
header {
    width: 100%;
    background-color: #FFFFFF;
}

 #banner{
    display:inline-block; 
    background-color:#303030;
    width:100%;
    margin-top: 5px;
    text-align:center;
    }
   /* Style for main element */
 
article {
	display: block;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 0.5em;
	border-radius: 1em;
	background-color:#ebfafa;
}

/* Style specifies margin and padding for the unordered list within the nav */
nav ul {
    margin: 0;
    padding-left: 0.50%;
    padding-right: 0.50%;

}
/* Style for navigation list items specifies a border radius, border, margin, width and padding */
nav li {
    border-radius: 0;
    border-top: solid white;
    border-bottom: solid white;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 14%;
    background-color:#303030;
}
/* Style for navigation links secifies display and padding */
nav li a {
    display: inline-block;
    padding: 0.6em;
    font-size: 1.25em;
}
.dropbtn {
    background-color:#303030;
    color: white;
    padding: 12.5px;
    font-style:bold;
    border: none;
    font-family: Lucida, "Times New Roman", serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#303030;
    min-width: 160px;
  
  }
  
  .dropdown-content a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1em;
    display: block;
  }
  
  .dropdown-content a:hover {color:#004d4d ;
  background-color:#303030;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color:#004d4d;}


/*Styles for pseudo-classes:*/
nav li a:link {
    color: #FFFFFF;
}

nav li a:hover {
    color: #004d4d;
    font-style: italic;
    font-style: bold;
    
    
}
.dot1 {
    height: 25px;
    width: 25px;
    background-color: #000000;
    border-radius: 10%;
    border:1px solid black;
    display: inline-block;
  }
  .dot2 {
    height: 25px;
    width: 25px;
    background-color: #ebfafa;
    border-radius: 10%;
    border:1px solid black;
    display: inline-block;
  }
  .dot3 {
    height: 25px;
    width: 25px;
    background-color: #303030;
    border-radius: 10%;
    border:1px solid black;
    display: inline-block;
  }
  .dot4 {
    height: 25px;
    width: 25px;
    background-color: #c2f0f0;
    border-radius: 10%;
    border:1px solid black;
    display: inline-block;
  }
  .dot5 {
    height: 25px;
    width: 25px;
    background-color: #004d4d;
    border-radius: 10%;
    border:1px solid black;
    display: inline-block;
  }
  .dot6 {
    height: 25px;
    width: 25px;
    background-color: #ffe6ff;
    border-radius: 10%;
    border:1px solid black;
    display: inline-block;
  }
  .dot7 {
    height: 25px;
    width: 25px;
    background-color:#d9d9d9;
    border-radius:10%;
    border:1px solid black;
    display:inline-block;
  }
  .dot8 {
    height: 25px;
    width: 25px;
    background-color:#FFFFFF;
    border-radius:10%;
    border:1px solid black;
    display:inline-block;
  }
  .dot9 {
    height: 25px;
    width: 25px;
    background-color:#9D9D93;
    border-radius:10%;
    border:1px solid black;
    display:inline-block;
  }
table{
        
    border: 0.1em solid #9D9D93;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color:#d9d9d9;
}
td ,th{
border: 0.1em solid #000000;
padding: 1em;
}
th{
background-color:#0e6782;
color:white;
}
tr:nth-child(even){
background-color:#ffe6ff;
}
caption{
font-size: 2em;
font-weight: bolder;
padding-bottom: 1em;
}
tr:hover {
background-color: #f8ecf8;
color:black;    
} 
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=reset] {
    width: 20%;
    background-color: #ccc;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=reset]:hover {
    background-color: #303030;F
    color:white;
  }
  
  input[type=submit] {
    width: 20%;
    background-color: #ccc;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #303030;
    color:white;
  }
/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
    margin-top: 2em;
    color:white;
}
footer a{
    color:white;
}   
footer a:hover{
    color:black;
} 
body {
    background: linear-gradient(#FFFFFF,#0e6782);
}
}